/* navbar.css */
.navbar {
  background-color: #1a0e10;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  font-family: 'Inter', sans-serif;
  color: #f4f4f4;
}

.font-logo {
  font-family: 'Playfair Display', serif;
  color: #f4d160;
  font-size: 28px;
  font-weight: bold;
}

.nav-links a {
  color: #f4d160;
  text-decoration: none;
  margin-left: 25px;
  font-size: 16px;
  transition: color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ffffff;
}
